<h1>Images (<%= @images.length %>)</h1>
<%= link_to "New Image", "/images/new" %>

<% @images.each do |image| %>
  <p><%= image.title %>, <%= image.artist %></p>
  <%= link_to image_tag(image.url), "/images/#{image.id}" %>
<% end %>