<%= link_to "Back to Images", images_url %> | 
<%= link_to "Edit", edit_image_path(@image) %> | 
<%= link_to "Delete", delete_image_path(@image), method: :delete, data: {confirm: "Are you sure you want to delete this image?"}  %>

<p><%= @image.title %>, <%= @image.artist %></p>
<%= image_tag @image.url %>